<ion-header>
  <ion-toolbar>
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="margen">
    <h1 class="ion-text-center">Bienvenido!</h1>
    <h5>Usuario: {{username}}</h5>
    <br>
    <h3 class="ion-text-center"> Informacion Adicional</h3>

    <ion-item>
      <ion-textarea [(ngModel)]="nombre" label="Nombre" placeholder="Ingrese Nombre"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="apellido" label="Apellido" placeholder="Ingrese Apellido"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-select  [(ngModel)]="nivED" label="Nivel Educacional" placeholder="Seleccione Nivel">
        <ion-select-option value="Basica">Basica</ion-select-option>
        <ion-select-option value="MediaI">Media Incompleta</ion-select-option>
        <ion-select-option value="MediaC">Mecia Completa</ion-select-option>
        <ion-select-option value="TsupI">Tecnico Incompleto</ion-select-option>
        <ion-select-option value="tsupC">Tecnico Completo</ion-select-option>
        <ion-select-option value="IngI">Ingenieria Incompleta</ion-select-option>
        <ion-select-option value="IngC">Ingenieria Completa</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Fecha Nacimiento</ion-label>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha"  [(ngModel)]="birthdate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ion-item>
  </div>
  <div class="button">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="warning" expand="block" (click)="limpiarCampos()" class="boton-limpiar">
            Limpiar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="success" expand="block" (click)="mostrarDatos()" class="boton-mostrar">
            Mostrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-start"> App desarrollada por L.Hurtado </ion-title>
  </ion-toolbar>
</ion-footer>